<div class="category-post">
	{# Left box - date #}
	<div class="category-date">{{ gimme.article.updatedAt|date("M. j, Y") }}</div>

	{# Middle box flex - headline, author, and excerpt #}
	<div class="category-post-info">
		<a class="text-headline-medium" href="{{ url(article) }}">{{ article.title }}</a>

		{% if article.lead == "" %}
      		<div class="category-tease">{{ article.body|striptags|safeTruncate(160,"...") }}</div>
    	{% else %}
      		<div class="category-tease">{{ article.lead|striptags|safeTruncate(160,"...") }}</div>
    	{% endif %}

		{% if article.authors %}
			{% for author in article.authors %} 
				<div class="category-author">By {{ author.name }}</div>
			{% endfor %}
			{% elseif article.metadata.byline %}
				<div class="category-author">By {{ article.metadata.byline }}</div>
		{% endif %}
	</div>

	{# Right box - thumbnail #}
	{% include 'partials/image-single.html.twig' with { 'class' : 'category-thumbnail', 'outputType' : 'hyperlink', 'rendName' : 'thumbnail' } %}
</div>