<!-- Top news section feature -->
{% if loop.first %}
	<section id="section-news" class="fp-2x3-feature">
	<div class="feature">
		{% include 'partials/image-single.html.twig' with { 'outputType' : 'hyperlink', 'rendName' : '600x300' } %}
		<a class="text-headline-large" href="{{ url(article) }}">{{ article.title }}</a>
		
		{% if article.authors %}
			{% for author in article.authors %} 
				<div class="category-author">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
			{% endfor %}
			{% elseif article.metadata.byline %}
				<div class="category-author">By {{ article.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
		{% endif %}

		{% if article.lead == "" %}
      		<div class="category-tease">{{ article.body|striptags|safeTruncate(160,"...") }}</div>
    	{% else %}
      		<div class="category-tease">{{ article.lead|striptags|safeTruncate(160,"...") }}</div>
    	{% endif %}
	</div>
{% endif %}

{% if loop.index == 2 %}
	<div class="left">
		<ul class="stories-teaser">
			<li class="story-item">
				{% include 'partials/image-single.html.twig' with { 'class' : 'highlights-thumbnail-mobile', 'outputType' : 'hyperlink', 'rendName' : '600x300' } %}
				<a class="text-headline-medium" href="{{ url(article) }}">{{ article.title }}</a>

				{% if article.lead == "" %}
					<div class="category-tease">
						<a href="{{ url(article) }}">
							<div class="highlights-thumbnail-desktop"></div>
						</a> 
						{{ article.body|striptags|safeTruncate(160,"...") }}
					</div>
				{% else %}
					<div class="category-tease">
						{% include 'partials/image-single.html.twig' with { 'class' : 'highlights-thumbnail-desktop', 'outputType' : 'hyperlink', 'rendName' : '600x300' } %}
						{{ article.lead|striptags|safeTruncate(160,"...") }}
					</div>
				{% endif %}

				{% if article.authors %}
					{% for author in article.authors %} 
						<div class="category-author">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
					{% endfor %}
					{% elseif article.metadata.byline %}
						<div class="category-author">By {{ article.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
				{% endif %}
			</li>
{% endif %}

{% if loop.index == 3 %}
			<li class="story-item">
				{% include 'partials/image-single.html.twig' with { 'class' : 'highlights-thumbnail-mobile', 'outputType' : 'hyperlink', 'rendName' : '600x300' } %}
				<a class="text-headline-medium" href="{{ url(article) }}">{{ article.title }}</a>

				{% if article.lead == "" %}
					<div class="category-tease">
						<a href="{{ url(article) }}">
							<div class="highlights-thumbnail-desktop"></div>
						</a> 
						{{ article.body|striptags|safeTruncate(160,"...") }}
					</div>
				{% else %}
					<div class="category-tease">
						{% include 'partials/image-single.html.twig' with { 'class' : 'highlights-thumbnail-desktop', 'outputType' : 'hyperlink', 'rendName' : '600x300' } %}
						{{ article.lead|striptags|safeTruncate(160,"...") }}
					</div>
				{% endif %}

				{% if article.authors %}
					{% for author in article.authors %} 
						<div class="category-author">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
					{% endfor %}
					{% elseif article.metadata.byline %}
						<div class="category-author">By {{ article.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
				{% endif %}
			</li>
		</ul>
	</div>
{% endif %}

{% if loop.index == 4 %}
	<div class="right">
		<ul class="stories-list">
			<li class="story-item">
				<a class="text-headline-small" href="{{ url(article) }}">{{ article.title }}</a>

				{% if article.authors %}
					{% for author in article.authors %} 
						<div class="category-author">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
					{% endfor %}
					{% elseif article.metadata.byline %}
						<div class="category-author">By {{ article.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
				{% endif %}

				{% if article.lead == "" %}
					<div class="category-tease">{{ article.body|striptags|safeTruncate(160,"...") }}</div>
				{% else %}
					<div class="category-tease">{{ article.lead|striptags|safeTruncate(160,"...") }}</div>
				{% endif %}
			</li>
{% endif %}

{% if loop.index == 5 %}
			<li class="story-item">
				<a class="text-headline-small" href="{{ url(article) }}">{{ article.title }}</a>
				
				{% if article.authors %}
					{% for author in article.authors %} 
						<div class="category-author">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
					{% endfor %}
					{% elseif article.metadata.byline %}
						<div class="category-author">By {{ article.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
				{% endif %}

				{% if article.lead == "" %}
					<div class="category-tease">{{ article.body|striptags|safeTruncate(160,"...") }}</div>
				{% else %}
					<div class="category-tease">{{ article.lead|striptags|safeTruncate(160,"...") }}</div>
				{% endif %}
			</li>
{% endif %}

{% if loop.last %}
			<li class="story-item">
				<a class="text-headline-small" href="{{ url(article) }}">{{ article.title }}</a>
				
				{% if article.authors %}
					{% for author in article.authors %} 
						<div class="category-author">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
					{% endfor %}
					{% elseif article.metadata.byline %}
						<div class="category-author">By {{ article.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
				{% endif %}

				{% if article.lead == "" %}
					<div class="category-tease">{{ article.body|striptags|safeTruncate(160,"...") }}</div>
				{% else %}
					<div class="category-tease">{{ article.lead|striptags|safeTruncate(160,"...") }}</div>
				{% endif %}
			</li>
		</ul>
	</div>
	</section>
{% endif %}