{% if loop.first %}
	<ul class="stories-sixpack">
{% endif %}

<li class="story-item">
	{# If post has thumbnail #}
	{% if article.featureMedia %}
		{% include 'partials/image-single.html.twig' with { 'outputType' : 'hyperlink', 'rendName' : '600x300' } %}

		{% if article.authors %}
			{% for author in article.authors %} 
				<div class="frontpage-postinfo">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
			{% endfor %}
			{% elseif article.metadata.byline %}
				<div class="frontpage-postinfo">By {{ author.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
		{% endif %}

		<a class="text-headline-small" href="{{ url(article) }}">{{ article.title }}</a>

	{# If post does not have thumbnail #}
	{% else %}
		<a class="text-headline-medium" href="{{ url(article) }}">{{ article.title }}</a>
		
		{% if article.authors %}
			{% for author in article.authors %} 
				<div class="frontpage-postinfo">By {{ author.name }} | {{ article.updatedAt|date("M. j, Y") }}</div>
			{% endfor %}
		{% elseif article.metadata.byline %}
			<div class="frontpage-postinfo">By {{ author.metadata.byline }} | {{ article.updatedAt|date("M. j, Y") }}</div>
		{% endif %}

		{% if article.lead == "" %}
      		<p>{{ article.body|striptags|safeTruncate(160,"...") }}</p>
    	{% else %}
      		<p>{{ article.lead|striptags|safeTruncate(160,"...") }}</p>
    	{% endif %}

	{% endif %}
</li>

{% if loop.last  %}
	</ul>
{% endif %}