{# Set rendition name to 1250x600 if none is specified where this partial is included #}
{% if rendName == '' %}
	{% set rendName = '1250x600' %}
{% endif %}

{# Set a default image and caption in case no article images are found #}
{% set imgCaption = 'The Triangle - The Independent Student Newspaper at Drexel University.' %}
{% set rend = asset('theme/img/article_img/' ~ rendName ~ '.png') %}

{# Look first for an image designated as featured media for the article #}
{% if article.featureMedia %}
	{% gimme rendition with { 'media': article.featureMedia, 'name': rendName } %}
		{% set imgCaption = article.featureMedia.description %}
		{% set rend = path(rendition) %}
	{% endgimme %}

{# If no featured media is found, get the first image in the article #}
{% else %}
	{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
		{% set imgCaption = media.body %}
		{% gimme rendition with { media: media, 'name': rendName } %}
			{% set rend = path(rendition) %}
		{% endgimme %}
	{% endgimmelist %}

{% endif %}


{% if where == "grid" %}
	<a class="articleGrid__image articleGrid__image--smallMobile" href="{{ url(article) }}">
		<figure>
			<img src="{{ rend }}" alt="{{ imgCaption }}" />
			<caption>{{ imgCaption }}</caption>
		</figure>
	</a>

{% else %}
	{% if outputType == 'figure' %}
		<figure class="{{ class }}">
			<img src="{{ rend }}" alt="{{ imgCaption }}" />
			<figcaption>{{ imgCaption }}</figcaption>
		</figure>

	{% elseif outputType == 'hyperlink' %}
		<a href="{{ url(article) }}" aria-label="{{ article.title }}">
			<div class="{{ class }}">
				<img src="{{ rend }}" alt="{{ imgCaption }}" />
			</div>
		</a>

	{% else %}
		<div class="{{ class }}">
			<img src="{{ rend }}" alt="{{ imgCaption }}" />
		</div>

	{% endif %}
{% endif %}