{% set version = '1573255180600' %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% endblock %}</title>
	<meta name="author" content="The Triangle IT Team">

	<meta name="description" content="The Triangle - The Independent Student Newspaper at Drexel University since 1926.">
	<meta name="keywords" content="The Triangle, Triangle, Drexel University, Drexel, news, opinion, sports, media, journalism">

	{# TODO: Put The Triangle's site verification here #}
	<meta name="google-site-verification" content="uJB4D5iTxa0pKz2QP1XiHFwa3lFd2F0oTcHd-bHpU2U" />

 	<!-- RSS & Pingback -->
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ url('rss') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{ asset('theme/img/icons/favicon.ico') }}" />

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Roboto+Slab|Playfair+Display|Crimson+Text|Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="{{ asset('theme/dist/style.css') }}" />
</head>
<body>
	{# TODO: insert Google Analytics code #}

	{#{% include 'partials/login-popup.html.twig' %}

	{% include 'partials/register-popup.html.twig' %}

	{% include 'partials/user-profile.html.twig' %}#}

	{# Insert global menu #}
	{% include 'partials/mainMenu.html.twig' %}

	{# This is where body content is inserted #}
	{% block body %}
	{% endblock %}

	<!-- Footer -->
	<footer id="colophon" class="footer-wrapper">
		<div class="footer-container">
			<div class="footer-branding">
				<div class="footer-logo">
					<a href="{{ url('home') }}"><img src="{{ asset('theme/img/logo-black.svg') }}"></a>
				</div>
				
				<div class="footer-social">
					<a href="https://www.facebook.com/drexel.triangle/" target="_blank" rel="noopener"><img src="{{ asset('theme/img/social-fb.svg') }}"></a>
					<a href="https://twitter.com/drexeltriangle" target="_blank" rel="noopener"><img src="{{ asset('theme/img/social-tw.svg') }}"></a>
					<a href="https://www.instagram.com/drexeltriangle/" target="_blank" rel="noopener"><img src="{{ asset('theme/img/social-in.svg') }}"></a>
					<a href="https://www.youtube.com/user/DrexelTriangle" target="_blank" rel="noopener"><img src="{{ asset('theme/img/social-yt.svg') }}"></a>
					<a href="http://thetriangle.us2.list-manage.com/subscribe/post?u=6eb4aab81745d3436b16a6181&id=7389750c95" target="_blank"><img src="{{ asset('theme/img/email.svg') }}"></a>
				</div>
				
				<div class="footer-tagline">
					THE INDEPENDENT STUDENT NEWSPAPER AT DREXEL UNIVERSITY SINCE 1926
				</div>
			</div>
			
			<nav class="footer-nav-container">
				<ul class="footer-nav-links">
					<li><a href="/">Home</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/opinion">Opinion</a></li>
					<li><a href="/entertainment">Entertainment</a></li>
					<li><a href="/sports">Sports</a></li>
					<li><a href="/donate">Donate</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/staff">Staff</a></li>
					<li><a href="/advertising">Advertising</a></li>
					<li><a href="/classifieds">Classifieds</a></li>
					<li><a href="/join">Join</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>

			</div>     
			<div class="footer-copyright">
				©{{ "now"|date("Y") }} The Triangle. All rights are reserved, except where otherwise noted.
			</div>
			<div class="footer-disclaimer">
				The Triangle is an independent student organization and is not owned nor operated by Drexel University.
			</div>
	</footer>

	<script src="{{ asset('theme/dist/all.js') }}" async></script>

	<script id="dsq-count-scr" src="//superdeskdailynews.disqus.com/count.js" async></script>

	{# Flytedesk Digital #}
    <script type="text/javascript">
		(function (w, d, s, p) { let f = d.getElementsByTagName(s)[0], j =
		d.createElement(s); j.id = 'flytedigital'; j.async = true; j.src =
		'https://digital.flytedesk.com/js/head.js#' + p;
		f.parentNode.insertBefore(j, f); })(window, document, 'script', '8b8310cb-bac8-481b-88b4-5c347d3aea8f');
	</script>
	{# End Flytedesk Digital #}

	{#<script type="text/javascript">
	// Weather script: https://github.com/michael-lynch/open-weather

			$(function() {
				$('.weather-temperature').openWeather({
					key: 'ffccf64d91c2144d8018e8c5fc4a2e0d',
					city: 'Belgrade',
					units: 'c',
					descriptionTarget: '.weather-description',
					minTemperatureTarget: '.weather-min-temperature',
					maxTemperatureTarget: '.weather-max-temperature',
					placeTarget: '.weather-place',
					iconTarget: '.weather-icon',
					customIcons: '/public/img/icons/weather/',
					success: function() {
						$('.topBar__weather').show();
					},
					error: function() {
						console.log("These aren't the droids you're looking for.");
					}
				});
				
			});
	</script>#}
</body>
</html>