{% set version = '1573867288869' %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="manifest" href="/manifest.json">

	<title>{% block title %}{% endblock %}</title>
	<meta name="author" content="The Triangle IT Team">

	<meta name="description" content="The Triangle - The Independent Student Newspaper at Drexel University since 1926.">
	<meta name="keywords" content="The Triangle, Triangle, Drexel University, Drexel, news, opinion, sports, media, journalism">

	{# TODO: Put The Triangle's site verification here #}
	<meta name="google-site-verification" content="uJB4D5iTxa0pKz2QP1XiHFwa3lFd2F0oTcHd-bHpU2U" />

 	<!-- RSS & Pingback -->
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ url('rss') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{ asset('theme/img/icons/favicon.ico') }}" />

	{# Triangle Stylesheet #}
	<link rel="stylesheet" href="{{ asset('theme/dist/style.css') }}" />

	{# Load external fonts here #}
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

	{# Prefetch advertising resouorces #}
	<link rel="preconnect" href="https://flytead.flytedesk.com">
	<link rel="preconnect" href="https://securepubads.g.doubleclick.net">
	<link rel="preconnect" href="http://pagead2.googlesyndication.com">
</head>
<body>
	{#{% include 'partials/login-popup.html.twig' %}

	{% include 'partials/register-popup.html.twig' %}

	{% include 'partials/user-profile.html.twig' %}#}

	{# Insert global menu #}
	{% include 'partials/mainMenu.html.twig' %}

	{# This is where body content is inserted #}
	{% block body %}
	{% endblock %}

	<!-- Footer -->
	<footer id="colophon" class="footer-wrapper">
		<div class="footer-container">
			<div class="footer-branding">
				<div class="footer-logo">
					<a href="{{ url('home') }}"><img src="{{ asset('theme/img/logo-black.svg') }}" alt="The Triangle"></a>
				</div>
				
				<div class="footer-social">
					<a href="https://www.facebook.com/drexel.triangle/" target="_blank" rel="noopener" aria-label="Like The Triange on Facebook">
						<img src="{{ asset('theme/img/social-fb.svg') }}" alt="Facebook Icon">
					</a>
					<a href="https://twitter.com/drexeltriangle" target="_blank" rel="noopener" aria-label="Follow The Triangle on Twitter">
						<img src="{{ asset('theme/img/social-tw.svg') }}" alt="Twitter Icon">
					</a>
					<a href="https://www.instagram.com/drexeltriangle/" target="_blank" rel="noopener" aria-label="Follow The Triangle on Instagram">
						<img src="{{ asset('theme/img/social-in.svg') }}" alt="Instagram Icon">
					</a>
					<a href="https://www.youtube.com/user/DrexelTriangle" target="_blank" rel="noopener" aria-label="Subscribe to The Triangle on YouTube">
						<img src="{{ asset('theme/img/social-yt.svg') }}" alt="YouTube Icon">
					</a>
					<a href="http://thetriangle.us2.list-manage.com/subscribe/post?u=6eb4aab81745d3436b16a6181&id=7389750c95" target="_blank" rel="noopener" aria-label="Sign up for The Triangle weekly newsletter">
						<img src="{{ asset('theme/img/email.svg') }}" alt="Email Icon">
					</a>
				</div>
				
				<div class="footer-tagline">
					THE INDEPENDENT STUDENT NEWSPAPER AT DREXEL UNIVERSITY SINCE 1926
				</div>
			</div>
			
			<nav class="footer-nav-container">
				<ul class="footer-nav-links">
					<li><a href="/" aria-label="Return to home">Home</a></li>
					<li><a href="/news" aria-label="News">News</a></li>
					<li><a href="/opinion" aria-label="Opinion">Opinion</a></li>
					<li><a href="/entertainment" aria-label="Entertainment">Entertainment</a></li>
					<li><a href="/sports" aria-label="Sports">Sports</a></li>
					<li><a href="/donate" aria-label="Donate">Donate</a></li>
					<li><a href="/about" aria-label="About">About</a></li>
					<li><a href="/staff" aria-label="Staff">Staff</a></li>
					<li><a href="/advertising" aria-label="Advertising">Advertising</a></li>
					<li><a href="/classifieds" aria-label="Classifieds">Classifieds</a></li>
					<li><a href="/join" aria-label="Join">Join</a></li>
					<li><a href="/contact" aria-label="Contact">Contact</a></li>
				</ul>
			</nav>

			</div>     
			<div class="footer-copyright">
				©{{ "now"|date("Y") }} The Triangle. All rights are reserved, except where otherwise noted.
			</div>
			<div class="footer-disclaimer">
				The Triangle is an independent student organization and is not owned nor operated by Drexel University.
			</div>
	</footer>

	<script src="{{ asset('theme/dist/all.js') }}" async></script>

	<script id="dsq-count-scr" src="//triangle.disqus.com/count.js" async></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162588-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-162588-4');
	</script>

	{# Flytedesk Digital #}
    <script type="text/javascript">
		(function (w, d, s, p) { let f = d.getElementsByTagName(s)[0], j =
		d.createElement(s); j.id = 'flytedigital'; j.async = true; j.src =
		'https://digital.flytedesk.com/js/head.js#' + p;
		f.parentNode.insertBefore(j, f); })(window, document, 'script', '8b8310cb-bac8-481b-88b4-5c347d3aea8f');
	</script>
	{# End Flytedesk Digital #}

	{#<script type="text/javascript">
	// Weather script: https://github.com/michael-lynch/open-weather

			$(function() {
				$('.weather-temperature').openWeather({
					key: 'ffccf64d91c2144d8018e8c5fc4a2e0d',
					city: 'Belgrade',
					units: 'c',
					descriptionTarget: '.weather-description',
					minTemperatureTarget: '.weather-min-temperature',
					maxTemperatureTarget: '.weather-max-temperature',
					placeTarget: '.weather-place',
					iconTarget: '.weather-icon',
					customIcons: '/public/img/icons/weather/',
					success: function() {
						$('.topBar__weather').show();
					},
					error: function() {
						console.log("These aren't the droids you're looking for.");
					}
				});
				
			});
	</script>#}
</body>
</html>