{% extends 'base.html.twig' %}

{% block title %}Search results for '{{ app.request.get('q', '') }}' - The Triangle{% endblock %}

{% block body %}

{% set itemsPerPage, currentPage = 8, app.request.get('page', 1) %}
{% set start = ((currentPage - 1) * itemsPerPage) %}

<div class="generic-wrapper">
	{# Flytedesk leaderboard ad #}
	{% include 'flytedesk/flytedesk-bannerTop.html.twig' %}

	<div class="category-title">
		<h1 class="text-title-large">Search results for '{{ app.request.get('q', '') }}'</h1>
	</div>

	<div class="generic-flex-container">
		<main id="section-articles" class="flex-main">
			<form id="search" name="search_articles" method="GET" action="/search" class="form-wrapper">
				<div class="form-group">
					<label for="search-input">Search again:</label>
					<div class="form-input-group">
						<input class="form-control" id="search-input" type="text" name="q" placeholder="Search..." value="{{ app.request.get('q', '') }}" onClick="this.select();">
						<div class="form-input-group-append">
							<button class="button button-primary" type="submit">Search</button>
						</div>
					</div>
				</div>
			</form>

			{% gimmelist article from searchResults|limit(app.request.get('limit', 10))|order(app.request.get('field', 'publishedAt'), app.request.get('direction', 'desc')) with {
					term: app.request.get('q', ''),
					page: app.request.get('page', 1),
					routes: app.request.get('route', []),
					term: app.request.get('q', ''),
					publishedBefore: app.request.get('publishedBefore'),
					publishedAfter: app.request.get('publishedAfter'),
					publishedAt: app.request.get('publishedAt'),
					sources: app.request.get('source', []),
					authors: app.request.get('author', []),
					statuses: app.request.get('status', []),
					metadata: app.request.get('metadata', []),
				} %}

				{# Render articles returned as search results #}
				{% include 'partials/article-listing.html.twig' %}

				{% if loop.last  %}
					{% include 'partials/pagination.html.twig' with {
						currentFilters: {}|merge(app.request.query.all()),
						currentPage: currentPage,
						paginationPath: gimme.route,
						lastPage: (loop.totalLength/itemsPerPage)|round(0, 'ceil')
					} only %}

					Showing {{ searchResults|length }} out of {{ loop.totalLength }} articles.
				{% endif %}
			{% endgimmelist %}
		</main>

		<aside class="flex-sidebar">
			{% include 'partials/sidebar.html.twig' %}
		</aside>
	</div>

	{# Flytedesk foot banner ad #}
	{% include 'flytedesk/flytedesk-bannerBottom.html.twig' %}
</div>

{% endblock %}